<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
</head>
<body>
    <h1>Item Detail</h1>
    <p><strong>Name:</strong> {{ item.name }}</p>
    <p><strong>Category:</strong> {{ item.category }}</p>
    <p><strong>Price per Unit:</strong> Ugx{{ item.price_per_unit }}</p>
    <p><strong>Quantity:</strong> {{ item.quantity }}</p>
    <p><strong>Supplier:</strong> {{ item.supplier.name }}</p>
</body>
</html>
