{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
   
<style>

   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,  #FF5CCB, #FFFFFF, #FF9A8A);
    background-size: cover;
    background-repeat: no-repeat;
    color: #392A48;
}
.container {
  justify-content: center;
        max-width: 400px;
        margin: 40px auto;
        padding-top: 40px;
        background-color: transparent;
        border-radius: 2px;
        box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 100px;
        color:#392A48;
    } 
.sitter{ display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
color: #392A48;


    }
    .container input[type="text"],
.container input[type="age"],
.container input[type="password"] {
    background-color: transparent !important;
    border: none !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
    color: #392A48;
}

.navbar {
    background-color:   #FF9A8A;
    color: #392A48;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color:  #392A48;}
    .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:   #FF9A8A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
}

.dropdown-content a {
    color: #392A48;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;}

</style>
<div class="navbar">
    <img src="{% static 'images/logo.png' %}" alt="Logo" style="width: 50px; height: auto;border-radius: 10px;">
  <ul class="nav-links">
      <li><a href="{% url 'home' %}"><strong>Home</strong></a></li>
      <li><a href="{% url 'baby_list' %}"><strong>Manage Babies</strong></a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn"><strong>Manage Arrivals</strong></a>
        <div class="dropdown-content" style="background-color:   #FF9A8A;">
            <a href="{% url 'arrival_list' %}"><strong>Arrivals</strong></a>
            <a href="{%url 'depature_list' %}"><strong>Depature</strong></a>
          </div>
      <li><a href="{% url 'sitters_list' %}"><strong>Manage Sitters</strong></a></li>
      <li class="dropdown">
            <a href="#"><strong>Manage Payments</strong></a>
      <div class="dropdown-content" style="background-color:   #FF9A8A;">
          <a href="{% url 'sitters_payment_list' %}"><strong>Sitters</strong></a>
          <a href="{%url 'payment_list' %}"><strong>Babies</strong></a>
        </div>
      <li><a href="{% url 'shop_list' %}"><strong>Manage Shop</strong></a></li>
      <li><a href="{% url 'pro_list' %}"><strong>Manage Procuremen</strong>t</a></li>
  </ul>
</div>
<div class ="container">
    <h3 style="text-align: center;"> 
        <strong>Doll Form</strong>
    </h3>
    <form method="post" div class="sitter">
        
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" css_class="btn btn-primary" style=" width: 100%;padding:10px; border:none;background-color: #392A48;border-radius: 5px; color: #fff;cursor: pointer;height: 50px;margin-top: 30px;">Restock</button>
</form>   
</div>

{% endblock %}